@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Poppins:wght@200;300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  transition: 0.3s;
}

html,
body {
  overflow-x: hidden;
  background-color: #ffffff !important;
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: none !important;
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes homeBgText {
  0%, 10%, 100% {
    background-position: -40rem 0;
  }
  65%, 85% {
    background-position: 0 0;
  }
}
@keyframes homeCursorText {
  0%, 10%, 100% {
    width: 0;
  }
  65%, 78%, 85% {
    width: 100%;
    opacity: 1;
  }
  75%, 81% {
    opacity: 0;
  }
}
@keyframes aboutSpinner {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.heading {
  font-family: "Playfair Display", serif;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 2.5rem;
  position: relative;
}
.heading .border-bottom {
  position: absolute;
  height: 5px;
  width: 250px;
  background-color: #F7931D;
  margin: 16px 0;
  border-radius: 5px;
}

header {
  width: 100%;
}
header .top-head {
  padding: 0 6%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
header .top-head .logo img {
  width: 200px;
}
header .top-head .search-box {
  position: relative;
  margin: auto;
}
header .top-head .search-box i {
  position: absolute;
  right: 14.5px;
  top: 14px;
  color: #283890;
  font-size: 25px;
}
header .top-head .search-box input {
  border: 1px solid rgba(203, 203, 203, 0.4392156863);
  border-radius: 5px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4392156863);
  padding: 12px 40px 12px 9px;
}
header .top-head .search-box input:focus {
  outline: none;
}
header .top-head .search-box input::-webkit-input-placeholder {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4392156863);
}
header .menu {
  background-color: #283890;
  padding: 8px;
  font-size: 1.75rem;
  color: #ffffff;
  display: none;
}
header .menu #btn-menu {
  font-size: 3rem;
  color: #ffffff;
  cursor: pointer;
  margin: 5px;
}
header .nav-links {
  padding: 0 5%;
  background-color: #283890;
}
header .nav-links li {
  list-style: none;
  padding: 0.75rem;
  position: relative;
}
header .nav-links li:hover {
  background-color: #5bbbff;
}
header .nav-links li:hover .sub-menu {
  display: block;
}
header .nav-links li a {
  color: #ffffff;
}
header .nav-links li .sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  z-index: 10;
  padding: 0;
  width: 320px;
  border-radius: 5px;
  overflow: hidden;
}
header .nav-links li .sub-menu li {
  list-style: none;
  border-bottom: 2px solid rgba(203, 203, 203, 0.4392156863);
}
header .nav-links li .sub-menu li a {
  color: #0A0F29;
}
header .nav-links li .sub-menu li:hover a {
  color: #ffffff;
}
@media (max-width: 768px) {
  header .top-head {
    flex-direction: column;
    padding: 1rem 0;
  }
  header .menu {
    display: flex;
    align-items: center;
  }
  header .menu #btn-menu {
    display: block;
  }
  header .nav-links {
    position: absolute;
    z-index: 5;
    height: 100vh;
    left: -240px;
    top: 245px;
    bottom: 0;
  }
  header .nav-links ul {
    padding: 0;
    flex-direction: column;
    justify-content: start;
    align-items: start !important;
  }
  header .nav-on {
    left: 0;
    right: 15%;
    bottom: 0;
    transition-delay: 0s;
  }
  header .nav-on a {
    transform: translateX(0);
    transition-delay: 0.25s;
  }
  header .nav-on .active-navbar {
    left: 0;
    transition-delay: 0.25s;
  }
}

section {
  padding: 70px 0;
}

.lp-hero-banner .owl-carousel {
  width: 100%;
  margin-top: 0;
}
.lp-hero-banner .owl-carousel .owl-dots {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 10%;
}
.lp-hero-banner .owl-carousel .owl-dots .active span {
  background-color: #ffffff !important;
}
.lp-hero-banner .owl-carousel .owl-dots span {
  width: 12px !important;
  height: 12px !important;
  border: 1px solid #ededed;
  background: transparent !important;
}
.lp-hero-banner .owl-carousel .owl-dots button {
  border: none !important;
  outline: none !important;
}
.lp-hero-banner .owl-carousel .owl-nav button {
  border: none !important;
  outline: none !important;
  background-color: #0A0F29 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.lp-hero-banner .owl-carousel .owl-nav button:hover {
  background-color: #283890 !important;
}
.lp-hero-banner .owl-carousel .owl-prev,
.lp-hero-banner .owl-carousel .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ffffff !important;
  background: #000000;
  padding: 16px;
}
.lp-hero-banner .owl-carousel .owl-prev span,
.lp-hero-banner .owl-carousel .owl-next span {
  font-size: 30px;
}
.lp-hero-banner .owl-carousel .owl-prev {
  left: 5%;
}
.lp-hero-banner .owl-carousel .owl-next {
  right: 5%;
}
@media (max-width: 576px) {
  .lp-hero-banner .owl-carousel .owl-dots {
    bottom: -15%;
  }
  .lp-hero-banner .owl-carousel .owl-prev,
  .lp-hero-banner .owl-carousel .owl-next {
    font-size: 28px !important;
  }
}
.lp-hero-banner .slide {
  width: 100%;
  height: 80vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lp-hero-banner .slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 0 0 5px 5px;
}
.lp-hero-banner .slide img {
  display: block;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.lp-hero-banner .slide video {
  display: block;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (max-width: 576px) {
  .lp-hero-banner .slide {
    height: inherit;
  }
  .lp-hero-banner .slide .slide-img-wrapper {
    height: 250px;
  }
  .lp-hero-banner .slide .slide-img-wrapper img {
    height: 250px;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: center;
       object-position: center;
  }
}

.aboutus img {
  width: 100%;
}

.quad-members {
  background-color: #F7FAFF;
}
.quad-members img {
  width: 100%;
}
.quad-members p {
  color: #283890;
  font-weight: 500;
}

.quad-history .border-left {
  border-left: 0.2rem solid #283890;
}
.quad-history .border-right {
  border-right: 0.2rem solid #283890;
}
.quad-history .content {
  display: grid;
  grid-template-columns: 50% 50%;
}
.quad-history .content .img {
  padding: 3rem;
  text-align: right;
}
.quad-history .content img {
  width: 70%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.quad-history .content .info {
  position: relative;
  padding: 3rem;
}
.quad-history .content .info::before {
  content: "";
  position: absolute;
  top: 0;
  left: -0.85rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #F7931D;
  border-radius: 50%;
}
.quad-history .content .heading {
  color: #F7931D !important;
}
@media (max-width: 991px) {
  .quad-history .border-left {
    border-left: none;
  }
  .quad-history .content {
    display: flex;
    flex-direction: column;
  }
  .quad-history .content .img {
    padding: 1rem;
    text-align: unset;
  }
  .quad-history .content img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: center;
       object-position: center;
  }
  .quad-history .content .info {
    padding: 1rem;
  }
  .quad-history .content .info::before {
    content: "";
    display: none;
  }
  .quad-history .reverse {
    flex-direction: column-reverse;
  }
}

.quad-meetings .card {
  border-radius: 5px;
  overflow: hidden;
  border: none;
}
.quad-meetings .card .thumb {
  width: 100%;
  height: 200px;
  border-radius: 12px;
  overflow: hidden;
}
.quad-meetings .card .thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.quad-meetings .card .body {
  padding: 16px 0;
  font-weight: 500;
}
.quad-meetings .card .body P {
  color: #000000;
}
.quad-meetings .card .body .date {
  color: #283890;
}

.footer {
  padding: 3rem 5% 1rem;
  background: #0A0F29;
  position: relative;
}
.footer .heading {
  color: #ffffff;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}
.footer li {
  list-style: none;
  margin-bottom: 8px;
}
.footer li a {
  color: #ffffff;
  font-weight: 500;
}
.footer .footer-text {
  text-align: center;
}
.footer .footer-text p {
  font-size: 1rem;
  margin-bottom: 0;
  color: #ffffff;
}
.footer .footer-iconTop {
  position: fixed;
  bottom: 8%;
  right: 5%;
}
.footer .footer-iconTop a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  background: #0A0F29;
  border: 0.2rem solid #ffffff;
  border-radius: 0.6rem;
  z-index: 1;
  overflow: hidden;
}
.footer .footer-iconTop a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ffffff;
  z-index: -1;
  transition: 0.5s ease-in-out;
}
.footer .footer-iconTop a:hover {
  border: 2px solid #0A0F29;
}
.footer .footer-iconTop a:hover::before {
  width: 100%;
}
.footer .footer-iconTop a:hover i {
  color: #283890;
}
.footer .footer-iconTop a i {
  font-size: 1.75rem;
  color: #ffffff;
}
@media (max-width: 768px) {
  .footer {
    justify-content: space-between;
  }
  .footer .footer-text p {
    font-size: 1rem;
  }
}
@media (max-width: 576px) {
  .footer {
    justify-content: end;
  }
  .footer .footer-text p {
    font-size: 1rem;
    text-align: left;
  }
}/*# sourceMappingURL=style.css.map */